<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Movie Rating Organizer</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/movie-list.js"></script>
<link rel="stylesheet" type="text/css" href = "/styles.css" />

