<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Movie Rating Organizer</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/movie-list.js"></script>
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
<link rel="stylesheet" type="text/css" href = "/styles.css" />
<link rel="shortcut icon" type="image/png" href="https://www.shareicon.net/data/128x128/2015/08/31/93732_movie_512x512.png" />

