<!-- views/partials/sidebar.ejs -->
<div class = "container-sidebar">
	<div class = "nav">
		<li><a href = "/">Home</a></li>
		<li id = "collapsible_trigger" onclick="collapse()">Add Movie</li>
		<div class = "collapse_form">
			<form action = "/movies" method = "POST">
				<p>Movie Name</p>
				<input type="text" name="movie" placeholder="Movie Name..." required />
				<p>Genre</p>
				<input type="text" name="genre" placeholder="Genre..." required />
				<p>Rating (1 to 10)</p>
				<input type="text" name="rate" placeholder="Rating..." required />
				<p>Description</p>
				<input type="text" name="description" placeholder="Description..." required />
				<button type="submit">Add Movie</button>
			</form>
		</div>
	</div>
</div>
