body {
    color: white;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
    margin: 0;
    padding: 0;
}

img
{
    max-height: 20px;
    padding: 10px 10px;
    display: flex;
}

p
{
    font-size: 14px;
    margin: 8px 14px;
}

h1
{
    padding: 10px 50px;
}

.header {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    height: 100px;
}

.content {
    padding-top: 105px;
}

.container-sidebar {
    float: left;
    height: 100%;
    font-style: bold;
    position: fixed;
    width: 30vh;
}

.container-sidebar input {
    width: 25vh;
    padding: 10px 10px;
    margin: 5px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: visible;
}

.container-sidebar textarea {
    width: 25vh;
    padding: 10px 10px;
    margin: 5px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: visible;
}

.container-sidebar button {
    border-radius: 60px;
    margin: 5px 0px;
    padding: 10px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px white solid;
    background-color: transparent;
    color: white;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;

}

#filter_container
{
    display: flex;
    align-items: center;
}

#filter_fields
{
    float: left;
}


#filter_button {
    width: 80px;
    height: 40px;
    margin: 40px 0px 5px 5px;
    padding: 5px 10px;
}

#add_movie {
    width: 200px;
}

#update_movie {
    width: 200px;
}

.container-sidebar button:hover {
    /*
    background-color: #5B5B5B;
    color: white;
    text-align: center;
    */
    background-color: #ddd6f3;
    color: #faaca8;
    border-color: #ddd6f3;
}

.collapse_form
{
    /*display: none;*/
    overflow: visible;
}

.nav {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    width: 30vh;
    text-align: center;
}

.nav li {
    border-radius: 60px;
    margin: 5px 0px;
    padding: 10px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px white solid;
}

.nav a {
    text-decoration: none;
    color: white;
}

/* Change the link color on hover */
.nav li:hover {
    background-color: #ddd6f3;
    color: #faaca8;
    border-color: #ddd6f3;
}

.movie_container {
    position: absolute;
    margin-left: 300px;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.movie_container ul #movie{
    width: 80vh;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 12px;
    /*background-color: #ddd6f3;*/
    background-color: rgb(194, 186, 219, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    border-radius: 5px;
}

.movie_container ul #movie:hover{
    background-color: rgb(194, 186, 219, 1);
}

.movie_container .details li{
    margin-left: 20px;
}

.movie_container #title {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.movie_item {
    display: flex;
    align-items: center;
}