body {
    color: black;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    background-color: white;
}

img
{
    max-height: 20px;
    padding: 10px 10px;
    display: flex;
}

p
{
    font-size: 14px;
    margin: 8px 14px;
}

.header {
    text-align: center;
}

.container-sidebar {
    float: left;
    height: 100%;
    padding-right: 30px;
    font-style: bold;
}

.container-sidebar input {
    width: 25vh;
    padding: 10px 10px;
    margin: 5px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: visible;
}

.container-sidebar textarea {
    width: 25vh;
    padding: 10px 10px;
    margin: 5px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: visible;
}

.container-sidebar textarea:focus {
    border: 3px solid #555;
}

.container-sidebar input[type=text]:focus {
    border: 3px solid #555;
}

.container-sidebar button {
    background-color: transparent;
    border: 1px #5B5B5B solid;
    outline: none;
    color: black;
    margin: 10px 0px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
}

#sort_button {
    margin: 0px 5px;
    padding: 5px 10px;
}

.container-sidebar button:hover {
    background-color: #5B5B5B;
    color: white;
    text-align: center;
}

.collapse_form
{
    /*display: none;*/
    overflow: visible;
}

.nav {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    width: 30vh;
    text-align: center;
}

.nav li {
    border-radius: 60px;
    margin: 5px 0px;
    padding: 15px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

/* Change the link color on hover */
.nav li:hover {
    background-color: #555;
    color: white;
}

.movie-list {
    float: left;
}

.movie-list ul #movie{
    width: 80vh;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #E9E9E9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    border-radius: 5px;
}

.movie-list ul #movie:hover{
    background-color: white;
}

.movie-list .details li{
    margin-left: 20px;
}

.movie-list #title {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.movie_item {
    display: flex;
    align-items: center;
}